<h4>To be included in {{ingredient.recipe.name}}</h4> <p>{{ingredient.measurement}} {{ingredient.units}} of {{ingredient.name}} {{ingredient.source}}</p>
<br>
{{update-ingredient ingredient=ingredient update="update"}}
<button {{action 'delete' ingredient}}>Delete</button>
