{{#if updateRecipeForm}}
  <h4>Update {{recipe.name}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Recipe name</label>
          {{input value=name id="name" placeholder=recipe.name}}
        </div>

        <div class="form-group">
          <label for="servings">Servings</label>
          {{input value=servings id="servings" placeholder=recipe.servings}}
        </div>

        <div class="form-group">
          <label for="cook_time">Cook Time</label>
          {{input value=cook_time id="cook_time" placeholder=recipe.cook_time}}
        </div>

        <div class="form-group">
          <label for="directions">Directions</label>
          {{input value=directions id="directions" placeholder=recipe.directions}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" placeholder=recipe.image}}
        </div>

        <button {{action 'update' recipe}}>Update it!</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateRecipeForm'}}>Show Update Recipe Form</button>
{{/if}}
